:root {
  --red-gradient-color: linear-gradient(to right, #e9000b, #b21720);
}
@font-face {
  font-family: 'AvenirBold';
  src: url('./fonts/AvenirNextLTPro-Bold.otf');
}
@font-face {
  font-family: 'AvenirRegular';
  src: url('./fonts/AvenirNextLTPro-Regular.otf');
}
@font-face {
  font-family: 'AvenirExtraBold';
  src: url('./fonts/AvenirNextLTPro-HeavyCn.otf');
}
@font-face {
  font-family: 'AvenirMedium';
  src: url('./fonts/AvenirNextW1G-Medium.otf');
}
@font-face {
  font-family: 'SinkinSansThin';
  src: url('./fonts/SinkinSans-100Thin.otf');
}
@font-face {
  font-family: 'SinkinSansLight';
  src: url('./fonts/SinkinSans-200XLight.otf');
}
@font-face {
  font-family: 'SinkinSansMedium';
  src: url('./fonts/SinkinSans-500Medium.otf');
}
@font-face {
  font-family: 'SinkinSansBold';
  src: url('./fonts/SinkinSans-700Bold.otf');
}
@font-face {
  font-family: 'SinkinSansExtraBold';
  src: url('./fonts/SinkinSans-900XBlack.otf');
}

/* HEADER */
.header-color {
  background-image: var(--red-gradient-color);
  font-size: 0.8rem;
}

.link-header {
  color: #ffffff;
  font-weight: bold;
  font-size: 0.9rem;
  text-decoration: none;
}

.link-header:hover {
  color: #ffffff;
}

.header-position {
  text-align: center;
}

.header-separator {
  font-weight: bold;
  color: #ffffff;
}
@media (max-width: 1920px) {
  .carousel-image{
    height: 36vw;
  }
  
  .mobile-item{
    height: 36vw;
  }
}

@media (max-width: 1024px) {
  .carousel-image{
    height: 650px;
  }
  
  .mobile-item{
    height: 650px;
  }
}

@media (max-width: 769px) {
  .header-position {
    justify-content: center;
  }
  .header-separator {
    display: none;
  }
  .navbar-brand {
    height: 3rem !important;
    width: auto !important;
    margin-right: 0 !important;
  }

  .carousel-image{
    height: 450px;
  }
  
  .mobile-item{
    height: 450px;
  }
}

/* NAVBAR */

.navbar-brand {
  height: 50%;
  width: auto;
}
.a-navbar:hover {
  font-weight: bold;
}
.a-navbar:active {
  font-weight: bold;
}

/* FOOTER */
.background-footer {
  background: #1a1a1a;
}
.hr {
  border: 0;
  height: 1px;
  background: #333;
  margin: auto;
}

.small-font {
  font-size: 0.8rem !important;
}

.link-footer {
  text-decoration: none;
}

.link-footer:hover {
  text-decoration: underline;
}

svg {
  fill: white;
}

@media (max-width: 576px) {
  footer {
    text-align: center;
  }
}

/* CONTENT */
.image-size {
  width: 50px;
}
.space-badge {
  letter-spacing: 10px;
  font-size: 17px;
}
.title-color{
  font-size: 55px;
  background: var(--red-gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  letter-spacing: 4px;
  font-family: 'AvenirBold';
}
.bg-color-text{
  background: white;
  -webkit-background-clip: text;
}
@media (max-width: 414px) {
  
  .title-color {
    font-size: 28px;
    letter-spacing: 0px;
  }
  .navbar-brand {
    height: 3rem;
    width: auto !important;
    margin-right: 0 !important;
  }
  .carousel-image{
    height: 250px;
  }
  
  .mobile-item{
    height: 250px;
  }
  
}
.color-subs {
  color: darkslategray;
  font-size: 20px;
}
.btn {
  letter-spacing: 3px;
  padding: 0.775rem 4rem;
  border-radius: 0px;
  border: 0px;
  font-weight: bold;
  font-size: 17px;
}
.font-redbison{
  font-family: 'AvenirRegular';
}
.btn-primary {
  color: #fff;
  background-image: var(--red-gradient-color);
}
.images-position{
  height: 70px;
  text-align: center;
}
.bg-content-wifi{
  background-image: url("./img/Commercial\ background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mainClass{
    background-image: url("./img/Key\ Benefits\ background\ image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    background: var(--red-gradient-color);
    text-align: center;
    color: white;
}
.containerBenefits{
    background-color: rgba(240, 248, 255, 0.85);
}
.text-bold {
  font-family: 'AvenirMedium';
  font-size: 19px;
  font-weight: 600;
}
.triangulo{
  width: 0; 
  height: 0; 
  border-left: 10px solid #C62625;
  border-top: 7.5px solid #f0ac4e00;
  border-bottom: 7.5px solid #d9544f00; 
  left: -20px;
  top: 5px;
}
.fully-text{
    font-size: 13px;
}
.text-title{
  letter-spacing: 25px;
  font-family: 'SinkinSansLight';
  font-size: 30px;
}
.btn {
  letter-spacing: 3px;
  padding: 0.775rem 4rem;
  border-radius: 0px;
  border: 0px;
  font-weight: bold;
  font-size: 17px;
}
.btn-primary {
  color: #fff;
  background-image: var(--red-gradient-color);
}
.color-bg {
  background: var(--red-gradient-color);
  color: white;
}
.title-style {
  letter-spacing: 11px;
  margin-left: 5rem;
  margin-bottom: 0px;
  font-size: 25px;
  font-family: 'AvenirBold'
}
.position-main{
  position: relative;
  top: -45px;
}
.subs-style {
  font-size: 85px;
  background: var(--red-gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 15px;
  margin-top: 4.5rem;
  margin-left: 5rem;
}
.text-style {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 6.5px;
  margin-left: 5rem;
  margin-top: 1rem;
}
.font-wifi{
  font-family: 'AvenirBold';
}
.services-style {
  font-size: 35px;
  letter-spacing: 15px;
  font-weight: 500;
  padding: 20px 0px;
  font-family: 'SinkinSansMedium';
}
.title-mb {
  font-weight: 900;
  color: darkslategray;
  font-size: 70px;
}
.mbps {
    font-family: 'SinkinSansThin';
    font-size: 45px;
    padding-bottom: 24px;
    letter-spacing: 4px;
}
.subs-priv {
  font-size: 20px;
  color: darkslategray;
}
.bg-color {
  font-size: 18px;
  background-color: #f2f2f2;
  font-family: 'SinkinSansThin';
  letter-spacing: 4px;
}
.font-text-btn{
  font-family: 'AvenirBold';
}
.priv {
    font-size: 28.5px;
    font-family: 'SinkinSansMedium';
}
.containerMbps {
  position: relative;
}
.esquina {
  position: absolute;
  bottom: -10px;
  left: -2.8rem;
  width: 0;
  height: 0;
  border-right: 25px solid transparent;
  border-top: 25px solid transparent;
  border-left: 25px solid #e9000b;
  border-bottom: 25px solid #e9000b;
}
.btn-custom {
  padding: 1.5rem 0;
  font-size: 30px;
  font-family: 'AvenirBold';
}
.cantidad {
  font-size: 100px;
  font-family: 'SinkinSansExtraBold';
}
.width-bg {
  width: 130%;
}
/* Global Button Styles */
a.animated-button:link, a.animated-button:visited {
  background: var(--red-gradient-color);
	position: relative;
	display: block;
	color: #fff;
	text-align: center;
	text-decoration: none;
  border: 3px solid #ff000000;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
  color: #C22524;
  border: 3px solid #C22524;
	text-shadow: none;
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #00f0;
    border-color: #0a58ca00;
    box-shadow: 0 0 0 0.25rem #c2252480;
}
.bg-color-text:hover{
  background: var(--red-gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 950%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	color: #fff;
	border-radius: 0;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

/* Victoria Buttons */

a.animated-button.victoria-one {
  z-index: 1;
}
a.animated-button.victoria-one:after {
	background: #ffffff;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
a.animated-button.victoria-two {
	border: 2px solid #D24D57;
}
a.animated-button.victoria-two:after {
	background: #D24D57;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	transform: translateX(-50%) translateY(-50%) rotate(25deg);
}
a.animated-button.victoria-three {
	border: 2px solid #D24D57;
}
a.animated-button.victoria-three:after {
	background: #D24D57;
	opacity: .5;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
a.animated-button.victoria-three:hover:after {
	height: 140%;
	opacity: 1;
}
a.animated-button.victoria-four {
	border: 2px solid #D24D57;
}
a.animated-button.victoria-four:after {
	background: #D24D57;
	opacity: .5;
	-moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
a.animated-button.victoria-four:hover:after {
	opacity: 1;
	height: 600% !important;
}
@media (max-width: 767px) {
  .services-style {
    font-size: 21px;
    letter-spacing: 5px;
    font-weight: bold;
    padding: 8px 0px;
  }
  .text-title{
    letter-spacing: 20px;
    font-size: 15px;
  }
  .mbps {
    font-family: 'SinkinSansThin';
    font-size: 33px;
    padding-bottom: 24px;
    letter-spacing: 3px;
  }
  .cantidad {
    font-size: 60px;
  }
  .position-main{
    position: static;
  }
  .btn-custom {
    padding: 0.775rem 4rem;
    font-size: 18px;
  }
  .width-bg {
    width: 100%;
  }
  .subs-style {
    font-size: 40px;
    margin-left: 1rem;
    margin-top: 2rem;
  }
  .text-style {
    margin-left: 0;
    text-align: center;
    margin-bottom: 3rem;
  }
  .image-none {
    display: none;
  }
  .title-style {
    margin-left: 0;
    letter-spacing: 4px;
    text-align: center;
    font-size: 18px;
  }
  .carousel-image{
    height: 260px;
  }
  
  .mobile-item{
    height: 260px;
  }
}
@media (min-width: 768px) and (max-width: 1024px){
  .subs-style {
    font-size: 60px;
  }
  .width-bg {
    width: 100%;
  }
  .position-main {
    position: relative;
    top: 0;
  }
  .services-style{
    font-size: 40px;
    letter-spacing: 10px;
    padding: 20px 0px;
    font-family: 'SinkinSansMedium';
  }
  .margin-hand{
    margin-left: 50%;
  }
}


/* CAROUSEL */
.carousel-image{
  width: auto !important;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
}

.carousel-item{
  display: block;
}