:root {
  --red-gradient-color: linear-gradient(to right, #e9000b, #b21720);
}
@font-face {
  font-family: 'AvenirBold';
  src: url('./fonts/AvenirNextLTPro-Bold.otf');
}
@font-face {
  font-family: 'AvenirRegular';
  src: url('./fonts/AvenirNextLTPro-Regular.otf');
}
@font-face {
  font-family: 'AvenirExtraBold';
  src: url('./fonts/AvenirNextLTPro-HeavyCn.otf');
}
@font-face {
  font-family: 'AvenirMedium';
  src: url('./fonts/AvenirNextW1G-Medium.otf');
}
@font-face {
  font-family: 'SinkinSansThin';
  src: url('./fonts/SinkinSans-100Thin.otf');
}
@font-face {
  font-family: 'SinkinSansMedium';
  src: url('./fonts/SinkinSans-500Medium.otf');
}
@font-face {
  font-family: 'SinkinSansBold';
  src: url('./fonts/SinkinSans-700Bold.otf');
}
@font-face {
  font-family: 'SinkinSansExtraBold';
  src: url('./fonts/SinkinSans-900XBlack.otf');
}

/* HEADER */
.header-color {
  background-image: var(--red-gradient-color);
  font-size: 0.8rem;
}

.link-header {
  color: #ffffff;
  font-weight: bold;
  font-size: 0.9rem;
  text-decoration: none;
}

.link-header:hover {
  color: #ffffff;
}

.header-position {
  text-align: center;
}

.header-separator {
  font-weight: bold;
  color: #ffffff;
}
@media (max-width: 769px) {
  .header-position {
    justify-content: center;
  }
  .header-separator {
    display: none;
  }
}

/* NAVBAR */

.navbar-brand {
  height: 50%;
  width: auto;
}
.a-navbar:hover {
  font-weight: bold;
}
.a-navbar:active {
  font-weight: bold;
}

/* FOOTER */
.background-footer {
  background: #1a1a1a;
}
.hr {
  border: 0;
  height: 1px;
  background: #333;
  margin: auto;
}

.small-font {
  font-size: 0.8rem !important;
}

.link-footer {
  text-decoration: none;
}

.link-footer:hover {
  text-decoration: underline;
}

svg {
  fill: white;
}

@media (max-width: 576px) {
  footer {
    text-align: center;
  }
}

/* CONTENT */
.image-size {
  width: 50px;
}
.space-badge {
  letter-spacing: 10px;
  font-size: 17px;
}
.title-color {
  font-size: 55px;
  background: var(--red-gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  letter-spacing: 4px;
}
@media (max-width: 414px) {
  .title-color {
    font-size: 28px;
    letter-spacing: 0px;
  }
}
.color-subs {
  color: darkslategray;
  font-size: 20px;
}
.btn {
  letter-spacing: 3px;
  padding: 0.775rem 4rem;
  border-radius: 0px;
  border: 0px;
  font-weight: bold;
  font-size: 17px;
}
.font-redbison{
  font-family: 'AvenirRegular';
}
.btn-primary {
  color: #fff;
  background-image: var(--red-gradient-color);
}
.images-position{
  height: 70px;
  text-align: center;
}
.bg-content-wifi{
  background-image: url("./img/Commercial\ background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mainClass{
    background-image: url("./img/Key\ Benefits\ background\ image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    background: var(--red-gradient-color);
    text-align: center;
    color: white;
}
.containerBenefits{
    background-color: rgba(240, 248, 255, 0.85);
}
.text-bold {
    font-size: 16px;
    font-weight: 600;
}
.fully-text{
    font-size: 13px;
}
.text-title{
    letter-spacing: 7px;
    font-weight: 700;
}
.btn {
  letter-spacing: 3px;
  padding: 0.775rem 4rem;
  border-radius: 0px;
  border: 0px;
  font-weight: bold;
  font-size: 17px;
}
.btn-primary {
  color: #fff;
  background-image: var(--red-gradient-color);
}
.color-bg {
  background: var(--red-gradient-color);
  color: white;
}
.title-style {
  letter-spacing: 11px;
  margin-left: 5rem;
  margin-bottom: 0px;
  font-size: 25px;
  font-family: 'AvenirBold'
}
.position-main{
  position: relative;
  top: -45px;
}
.subs-style {
  font-size: 85px;
  background: var(--red-gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 15px;
  margin-top: 4.5rem;
  margin-left: 5rem;
}
.text-style {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 6.5px;
  margin-left: 5rem;
  margin-top: 1rem;
}
.font-wifi{
  font-family: 'AvenirBold';
}
.services-style {
  font-size: 35px;
  letter-spacing: 15px;
  font-weight: 500;
  padding: 20px 0px;
  font-family: 'SinkinSansMedium';
}
.title-mb {
  font-weight: 900;
  color: darkslategray;
  font-size: 70px;
}
.mbps {
    font-family: 'SinkinSansThin';
    font-size: 45px;
    padding-bottom: 24px;
    letter-spacing: 4px;
}
.subs-priv {
  font-size: 20px;
  color: darkslategray;
}
.bg-color {
  font-size: 15px;
  background-color: gainsboro;
  letter-spacing: 2px;
  font-family: 'SinkinSansThin';
}
.priv {
    font-size: 28.5px;
    font-family: 'SinkinSansMedium';
}
.containerMbps {
  position: relative;
}
.esquina {
  position: absolute;
  bottom: -10px;
  left: -2.8rem;
  width: 0;
  height: 0;
  border-right: 25px solid transparent;
  border-top: 25px solid transparent;
  border-left: 25px solid #e9000b;
  border-bottom: 25px solid #e9000b;
}
.btn-custom {
  padding: 1.5rem 0;
  font-size: 30px;
  font-family: 'AvenirBold';
}
.cantidad {
  font-size: 100px;
  font-family: 'SinkinSansExtraBold';
}
.width-bg {
  width: 130%;
}
@media (max-width: 767px) {
  .services-style {
    font-size: 21px;
    letter-spacing: 5px;
    font-weight: bold;
    padding: 8px 0px;
  }
  .mbps {
    font-family: 'SinkinSansThin';
    font-size: 33px;
    padding-bottom: 24px;
    letter-spacing: 3px;
  }
  .cantidad {
    font-size: 60px;
  }
  .position-main{
    position: static;
  }
  .btn-custom {
    padding: 0.775rem 4rem;
    font-size: 18px;
  }
  .width-bg {
    width: 100%;
  }
  .subs-style {
    font-size: 40px;
    margin-left: 1rem;
    margin-top: 2rem;
  }
  .text-style {
    margin-left: 0;
    text-align: center;
    margin-bottom: 3rem;
  }
  .image-none {
    display: none;
  }
  .title-style {
    margin-left: 0;
    letter-spacing: 4px;
    text-align: center;
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 1024px){
  .subs-style {
    font-size: 60px;
  }
  .width-bg {
    width: 100%;
  }
  .position-main {
    position: relative;
    top: 0;
  }
  .services-style{
    font-size: 40px;
    letter-spacing: 10px;
    padding: 20px 0px;
    font-family: 'SinkinSansMedium';
  }
  .margin-hand{
    margin-left: 50%;
  }
}