.mainClass{
    background-image: url("https://www.jll.ca/images/abstract/am-image-new-office-space-unoccupied.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    background: var(--red-gradient-color);
    text-align: center;
    color: white;
}
.containerBenefits{
    background-color: rgba(240, 248, 255, 0.85);
}
.text-bold {
    font-size: 16px;
    font-weight: 600;
}
.fully-text{
    font-size: 13px;
}
.text-title{
    letter-spacing: 7px;
    font-weight: 700;
}